<div class="container">
    <h2>Keyboard-Driven Interface</h2>
    <p>Press <kbd>Ctrl + K</kbd> to trigger keyboard shortcuts</p>
    @if (keys.buffer() && keys.shortcuts) {
        <div>
            <ul>
                @for (shortcut of keys.shortcuts; track shortcut[0]) {
                    <li>
                        <kbd>{{ shortcut[1].key }}</kbd> -
                        {{ shortcut[1].name }}
                    </li>
                }
            </ul>
        </div>
    }
    <div class="search">
        <input type="text" placeholder="Search (^k s)" #search />
    </div>
    @if (keys.latest(); as latest) {
        <p>
            Executed shortcut: <kbd>{{ latest.key }}</kbd> - {{ latest.name }}
        </p>
    }
    @if (keys.hasHistory() && keys.history(); as history) {
        <h3>Chord History</h3>
        <div class="history">
            @for (shortcut of history; track $index) {
                <p>
                    <kbd>{{ shortcut.key }}</kbd>
                </p>
            }
        </div>
    }
</div>
