<div class="container">
    <div class="heading">
        <h2>Keyboard-Driven Interface</h2>
        <input type="text" #bar />
    </div>
    <p>Press <kbd>Ctrl + K</kbd> to trigger keyboard shortcuts</p>
    @if (keys.latest(); as latest) {
        <p>
            Executed shortcut: <kbd>{{ latest.key }}</kbd> - {{ latest.name }}
        </p>
    }
    @if (keys.hasHistory() && keys.history(); as history) {
        <h3>Chord History</h3>
        <div class="history">
            @for (shortcut of history; track $index) {
                <p>
                    <kbd>{{ shortcut.key }}</kbd>
                </p>
            }
        </div>
    }
    @if (photos(); as photos) {
        <div class="gallery">
            @for (photo of photos; track photo.id) {
                <div class="image">
                    <img [src]="photo.download_url" [alt]="photo.url" />
                    <h3>{{ photo.author }}</h3>
                    <a [href]="photo.url" target="_blank">{{ photo.url }}</a>
                </div>
            }
        </div>
    }
</div>
