@layer reset, theme, layout;

@import url(./reset.css);
@import url(./theme.css);
@import url(./layout.css);

div.container {
    padding: var(--pad);
    height: 100%;
}

div.container>*+* {
    margin-top: 1em;
}